body{
    font-size: 20px;
    background: #f9f9f9;
  background-image: url(image2.jpg) ;
  background-size:cover;
}

#big{
    font-size: 30px;
}
#small{
    text-align: center;
}

h2{
    text-align: center;
    border-bottom: 2px solid green;

}
h1{
    text-align: center;

}

form{
    width: 400px;
    background:white;
    padding: 15px 40px 40px;
    margin: 50px auto 0;
    border: 2px solid #ccc;
    border-radius: 5px;
}
input, select{
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
}
label{
    display: block;
    margin-bottom: 6px;

}

div{
    padding-bottom: 12px;
    
}

#submit{
 font-size: 20px;
 background: #0c37f5;
 border-color: black;
 box-shadow: 0  3px 3px grey;
 color: white;
 margin-top: 10px;
 cursor: pointer;
 width: 100%;
 padding: 5px;
}

#submit:hover{
background: #2818b8;
}

#cancel{

 background: #0c37f5;
 border-color: black;
 box-shadow: 0  3px 3px grey;
 color: white;
 margin-top: 10px;
 cursor: pointer;

 padding: 5px;
}
#cancel:hover{
    background: #2818b8;
    }
#cancelButton{
    text-align: center;
}

#ans{
    text-align: center;
    font-size: 25px;
}

.error-icon{
    display: none;
    color: red;
    position: absolute;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 5px;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 200px;
    transform: translate(-10%,20%);
}
.error-icon:hover + .tooltip{
    display: block;
}

.tooltip{
  display: none;
    position: absolute;
    background-color: #4a4848;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    z-index:1;
    transform: translate(160%,-200%);
    color: white;
}
.inputField{
position: relative;
padding-top: 15px;
}

.label{
    position: absolute;
}

.question{
    font-size: 15px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 5px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 200px;
    position: absolute;

}

.newTooltip{
   display: none;
   position: relative;
   transform: translate(50%,-130%);
   width: 200px;
   background-color: #4a4848;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    z-index:1;
    color: white;
}