body{
    font-size: 20px;
    background: #f9f9f9;

}
h2{
    text-align: center;
    border-bottom: 2px solid green;

}
h1{
    text-align: center;
 

}

form{
    width: 400px;
    background:white;
    padding: 15px 40px 40px;
    margin: 50px auto 0;
    border: 2px solid #ccc;
    border-radius: 5px;
}
input, select{
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
}
label{
    display: block;
    margin-bottom: 6px;
}

div{
    padding-bottom: 12px;
    
}

#submit{
 font-size: 20px;
 background: #0c37f5;
 border-color: black;
 box-shadow: 0  3px 3px grey;
 color: white;
 margin-top: 10px;
 cursor: pointer;
 width: 100%;
 padding: 5px;
}

#submit:hover{
background: #2818b8;
}
